.post-title 
    text-transform: uppercase
    line-height: 1.4em
    margin: 0
    

 .time 
		font-size: 1.5rem;
		color: #666;
		text-transform: lowercase;
		-ms-font-feature-settings: "smcp" 1,"c2sc" 1;
		-o-font-feature-settings: "smcp" 1,"c2sc" 1;
		font-feature-settings: "smcp" 1,"c2sc" 1;
		letter-spacing: 1px;
		font-variant: small-caps;
		text-transform: lowercase;
		background-position: center 72%;
		font-family: Calibri,Georgia,serif;
