<header class="header header--single">
  <div class="container">
    <div class="grid grid-auto">
      <div class="logo-box">
        <a href="{{ .Site.BaseURL }}" class="text-center logo">
          <img src="/images/hp-logo-100.png" />
          <h1 class="header__title sr-only">{{ .Site.Title }}</h1>
        </a>
      </div>
      <nav class="nav nav-single"><a href="#" class="nav-item hvr-sweep-to-right">About <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></nav>
       </div>
  </div>
</header>