.social-box 
  grid-template-columns: repeat(6, 4rem)
  grid-gap: 1px
  width: auto
  margin-bottom: 4rem
  +respond(mobile)
    display: flex
    justify-content: space-between

@media only screen and (min-width: 320px) and (max-width: 768px)
  .social-box 
    justify-self: center

.social-network 
    height: 40px
    width: 40px
    line-height: 40px
    margin: 1px 1px 0 0 !important
    text-align: center
    background-color: color03
    a 
      color: color07
      line-height: 43px
      i 
        &:before 
          margin: 0 10px
          color: basecolor
          font-size: 16px
    
    a.hvr-sweep-to-right 
      display: block
      &:before   
        height: 40px !important  
        width: 40px !important  
    
  

