vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

transition()
  vendor('transition', arguments)
  
transform()
  vendor('transform', arguments)

transition-property()
  vendor('transition-property', arguments)
 
transition-duration()
  vendor('transition-duration', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transition-timing-function()
   vendor('transition-timing-function', arguments)  
   
a,
a i,
a i:before 
  cursor: pointer
  text-decoration: none
  color: #0099cc
  transition: all 0.25s ease 0s

	
.text-center
	text-align: center
	
.sr-only
	position: absolute
	left: -100em
hr 
	border: 0.5px solid #ddd
	margin: 3rem 0

.hvr-sweep-to-right 
  display: inline-block
  vertical-align: middle
  transform: perspective(1px) translateZ(0)
  transition-property: color
  transition-duration: .3s
  box-shadow: 0 0 1px transparent
  position: relative

.hvr-sweep-to-right:before 
  content: ""
  position: absolute
  z-index: -1
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #2098D1
  transform: scaleX(0)
  transform-origin: 0 50%
  transition-property: transform
  transition-duration: .3s
  transition-timing-function: ease-out


.hvr-sweep-to-right:before 
  background: rgba(255, 255, 255, 0.5)
   
.hvr-sweep-to-right:active:before, 
.hvr-sweep-to-right:focus:before, 
.hvr-sweep-to-right:hover:before 
  transform: scaleX(1)

.nav
  .hvr-sweep-to-right:before
    background: rgba(255, 255, 255, 0.9)

.a-hideMobile
  +respond(mobile)
    display: none
  

