.header
	background: basecolor
	&--main
		padding: 6rem 3rem
	&--single
		padding: 2rem 3rem
	&-menu
		grid-template-columns: 1fr 220px
		.nav-item
			padding: 0.5rem 2.5rem

@media only screen and (min-width: 320px) and (max-width: 768px)
	.header--main
		text-align: center
		
	.header--single
		text-align: left

.header__title
	margin: 0
	line-height: 80px
	color: color02

.logo-box
	grid-column: 1/2
	grid-row: 1/4
	display: inherit
	
.logo
	display: inline-grid

.intro--box
	min-height: 17rem
	
.intro--title
	color: color01
	
.intro-words-wrapper
	display: inline-block
	position: relative
	text-align: left

.intro-words-wrapper::after 
	content: '';
	position: absolute;
	top: 6px;
	right: 0;
	width: 2px;
	height: 70%;
	background-color: #cfcfcf;


.intro__subtitle
	display: inline-block
	position: absolute
	white-space: nowrap
	font-weight: 300
	left: 0
	top: 0
	&.is-visible
		position: relative
    	  	
.intro-headline
	&.clip 
		span   
			white-space: nowrap
			color: grey2
		.intro__subtitle
			opacity: 0
			&.is-visible
				opacity: 1
	
	
.nav-item
	color: color02
	border: 1px solid #ddd
	padding: 0.5rem 1.5rem
	margin-right: 1rem
	+respond(mobile)
		font-size: 1.6rem
	&:hover
		color: darkgrey
		i:before
			color: darkgrey
	i:before
		color: color02
		
.nav-single
	justify-self: right
	grid-row: row1-start / row2-end
	