.main-work
	padding: 0

.work-container
	padding: 3rem 4rem

.work-heading
	margin-bottom: 20px
	border-bottom: 1px dashed #ddd

.work
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 30px
	+respond(mobile)
		grid-template-columns: 1fr
	&__item
		display: flex
		flex-flow: column
		min-height: 45vmin
		background-color: #fbfbfb
		border: 1px solid #e6e4e4
		box-shadow: 0 1px 5px rgba(41, 40, 40, 0.07)
	&__header
		display: flex
		justify-content: center
		min-height: 120px
		background-color: basecolor
	&__photo
		align-self: center
		opacity: 0.8
	&__body
		padding: 1.5rem
	&__links
		display: grid
		grid-gap: 20px
	
.view-more
	@extend .post--grid__readmore
	+respond(mobile)
		width: 100%
		text-align: center
		


