<header class="header header--main">
	<div class="container">
		<div class="grid grid-1x-3">
			<div class="logo-box">
				<a href="{{ .Site.BaseURL }}" class="text-center logo">
					<img src="/images/hp-logo.png" alt="Harshit Purwar" />
					<h1 class="header__title sr-only">{{ .Site.Title }}</h1>
				</a>
			</div>
			<div class="intro intro--box"
	              data-animation-origin="bottom" 
	              data-animation-duration="300" 
	              data-animation-delay="600" 
	              data-animation-distance="50px">
				<div class="intro--title">
                  	<h1>Harshit Purwar</h1>
                  	<section>
						<h2 class="intro-headline clip">
							<span>A seasoned </span><br>
							<span class="intro-words-wrapper">
							   <b class="is-visible intro__subtitle">User Experience Engineer</b>
							   <b class="intro__subtitle">Design System Avocado</b>
							   <b class="intro__subtitle">Sports addict: Football, F1</b>
							</span>
						</h2>
	                </section>
               	</div>
            </div>
            <div class="social social-box grid"
                 data-animation-origin="right"
                 data-animation-duration="300"
                 data-animation-delay="1600"
                 data-animation-distance="50px">
               <div class="social-network">
                  <a href="https://twitter.com/harshitpurwar" target="_blank" class="hvr-sweep-to-right"><i class="fa fa-twitter" aria-hidden="true" title="My Twitter Timeline"></i><span class="sr-only">Twitter</span></a>
               </div>
               <div class="social-network a-hideMobile">
                  <a href="https://github.com/hertzden" class="hvr-sweep-to-right" target="_blank"><i class="fa fa-github" aria-hidden="true" title="My Github Profile"></i><span class="sr-only">Github</span></a>
               </div>
               <div class="social-network">
                  <a href="https://www.linkedin.com/in/harshitpurwar/" target="_blank" class="hvr-sweep-to-right"><i class="fa fa-linkedin" aria-hidden="true" title="My Linkedin Profile"></i><span class="sr-only">Linkedin</span></a>
               </div>
               <div class="social-network">
                  <a href="mailto:hpurwar@gmail.com" target="_blank" class="hvr-sweep-to-right"><i class="fa fa-envelope" aria-hidden="true"></i><span class="sr-only">Email</span></a>
               </div>
             
               
            </div>
            <div class="menu">
            <nav class="nav"><a href="/blog" class="nav-item hvr-sweep-to-right">Blog <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            <a href="/work" class="nav-item hvr-sweep-to-right">Work <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </nav>
          
          </div>
	     </div>
	</div>
</header>