.grid-1x-2
  width: 100%;
  grid-template-columns: 65% 28%
  grid-gap: 7%

@media only screen and (min-width: 320px) and (max-width: 768px)
  .grid-1x-2
    grid-template-columns: auto

.grid-1x-3
  grid-template-columns: 35% 65%

@media only screen and (min-width: 320px) and (max-width: 768px)
  .grid-1x-3
    grid-template-columns: auto
    justify-content: center
    
.grid-auto
  grid-auto-flow: column
  
.grid-1-of-2
  grid-template-columns: 1fr 1fr
  
.grid-gap-10
  grid-gap: 10%
